.formContainer{
    background-color: #3e5d6a;
    margin: auto;
    box-sizing: border-box;
    color: #fff;
}

.formContainer label{
    font-weight: 600;
    font-size: 1.4rem;
}

.formContainer input,.formContainer textarea{
    background-color: transparent;
    border: 1px solid #759eaf;
    font-weight: 500;
    color: #fff;
}

.formContainer input.form-control:focus, .formContainer textarea.form-control:focus{
    box-shadow: 0 0;
    outline: 0 none;
    background-color: transparent;
    color: #fff;
}

.formContainer button.btn{
    background-color: #62afd0;
    color: #fff;
    border-radius: 10px;
    width: 20%;
    display: block;
    margin: auto;
}

.formContainer button.btn:hover{
    background-color: transparent;
    border: 1px solid #62afd0;
}

.statusAvailable{
    background-color: green;
    padding: 7px;
    border-radius: 10px;
}

.statusSold{
    background-color: red;
    padding: 7px;
    border-radius: 10px;
    margin-left: 10px;
}
