.formContainer, .detailsContainer{
    background-color: #3e5d6a;
    margin: auto;
    box-sizing: border-box;
    color: #fff;
}

.formContainer label{
    font-weight: 600;
    font-size: 1.4rem;
}

.formContainer input,.formContainer textarea{
    background-color: transparent;
    border: 1px solid #759eaf;
    font-weight: 500;
    color: #fff;
}

.formContainer input.form-control:focus, .formContainer textarea.form-control:focus{
    box-shadow: 0 0;
    outline: 0 none;
    background-color: transparent;
    color: #fff;
}

.formContainer button.btn{
    background-color: #62afd0;
    color: #fff;
    border-radius: 10px;
    width: 20%;
    display: block;
    margin: auto;
}

.formContainer button.btn:hover{
    background-color: transparent;
    border: 1px solid #62afd0;
}

.statusAvailable{
    background-color: green;
    padding: 7px;
    border-radius: 10px;
}

.statusSold{
    background-color: red;
    padding: 7px;
    border-radius: 10px;
    margin-left: 10px;
}

.detailsContainer h3{
    border-bottom: 1px solid rgb(181, 191, 185);
    padding-bottom: 10px;
}

.details{
    /* text-align: center; */
    margin-top: 30px; 
}

.detailsContainer p{
    margin-top: 20px;
    /* line-height: 100px; */
}

.detailsContainer span{
    color: #47bef0;
    font-weight: 800;
}

.detailsContainer button.btn{
    background-color: #62afd0;
    color: #fff;
    border-radius: 10px;
    width: 20%;
    display: block;
    margin: auto;
}

.detailsContainer button.btn:hover{
    background-color: transparent;
    border: 1px solid #62afd0;
}

.searchBar{
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #545e62;
    color: #62afd0;
    font-weight: 800;
}

.bookList h3{
    color: #38acde;
    font-weight: bolder;
}

.btnAdd{
    right: 0;
    margin-left: 45px;
    width:19%;
}

.bookList label{
    margin-right: 10px;
    margin-left: 30px;
    font-size: 17px;
    font-weight: 500;
}

.bookList select{
    padding: 4px;
    font-size: 17px;
    background-color: black;
    color: #fff;
    text-align: center;
    width: 18%;
}

.bookList select:hover, .bookList option:hover{
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(11, 55, 90, 0.4); 
  }
  
  .modal i{
    margin-left: 47%;
    margin-bottom: 30px;
    color: red;
    font-size: 4rem;
  }

  .modal p{
    font-size: 1.3rem;
    font-weight: 600;
  }

  .modal-content {
    background-color: #4a5050 !important;
    margin: 15% auto;
    padding: 20px;
    width: 30%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 97%;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal .buttons{
    display: flex;
    margin-left: 16%;
    flex-wrap:nowrap;
  }

  .modal button{
    width: 40%;
    border-radius: 40px;
    outline: none;
    border: none;
    padding: 10px;
    color: #fff;
    font-weight: 700;
  }

  .modal .btnConfirmYes{
    background-color: rgb(21, 156, 21);
    margin-right: 30px;
  }

  .modal button:hover{
    color: #fff;
    background-color: inherit;
    outline: 1px solid #fff;
  }

  .modal .btnConfirmNo{
    background-color: red;
  }

@media screen and (max-width: 1400px) {
    .components{
        display: flex;
    }

    .components select,.btnAdd{
        max-height: 47.2px;
    }

    .btnAdd{
        width: 100%;
    }
  }

  @media screen and (max-width:1200px) {
    .components select,.btnAdd{
        width: 100%;
    }
  }

  @media screen and (max-width: 992px) {
    .components{
        display: flex;
    }

    .components select,.btnAdd{
        max-height: 57.2px;
        /* width: 100%; */
    }

    .btnAdd{
        width: 100%;
    }
  }

  @media screen and (max-width: 769px) {
    .components{
        display: flex;
    }

    .components label{
        display: none;
    }

    .components select{
        width: 30%;
        margin-left: 10px;
        margin-right: 0;
        max-height: 47.2px;
    }

    .components .btnAdd{
        height: 49.2px;
        width: 70%;
        padding: 7px;
        padding-top: 1px;
    }
  }

  .tooltips {
    position: relative;
    display: inline-block;
  }
  
  .tooltips .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  
  .tooltips:hover .tooltiptext {
    visibility: visible;
  }

  .table,.table-responsive{
    background-color: #000;
    color: #fff;
  }

  .table tr{
    border-bottom: 1px solid rgb(118, 125, 130);
  }

  .table tbody tr:hover{
    background-color: #495056;
    cursor: pointer;
  }

  footer {
    padding:12px 10px;
    background-color:#000;
    color:grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  #cartIcon{
    color: #fff;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 1.4rem;
    margin-right: 20px;
  }