$nav-bg-color: #504190;
$nav-link-hover: #c084dc;
$primary-color: #6f5cc4;
$heading-color: #7967c8;
$content-text-color: #646f87;
$white: #fff;
$black: #000;
$td-row-hover: #ddcfe8;
$status-sold-color: #e46f65;
$status-available-color: #7ac47d;
$paragraph-color: #a3abba;
$btn-color: #f6f4fb;

$authentication-button-background: #e8e8e8;
$disabled-button-bg: #dcd5d5;
$button-color: #212121;
$box-shadow-color: #00000045;
$input-color: #ebebeb;
$box-shadow-otp: rgba(0,0,0,0.25);
