@import "../../styles/variables";

a,
button {
  cursor: pointer;
  text-decoration: none;
}

.login-card,
.register-card {
  margin: auto;
  margin-top: 4rem;
  width: 100%;
  padding: 70px 30px 44px;
  border-radius: 24px;
  background: $white;
  text-align: center;
}

.register-card {
  margin-top: 60px;
}

@media (width>=500px) {
  .login-card,
  .register-card {
    width: 400px;
  }

  .register-card {
    width: 550px;
  }
}

.login-card > h2,
.register-card h2 {
  margin: 0 0 12px;
  font-size: 36px;
  font-weight: 700;
}

.login-card > h3,
.register-card > h3 {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.38);
}

.login-form,
.register-form {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
}

.login-form > input,
.register-form > input {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  border-radius: 8px;
  font-weight: 700;
}

.login-form > input,
.register-form > input {
  border: 2px solid $input-color;
}

.login-form > button:enabled,
.register-form > button:enabled {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: $button-color;
  z-index: 1;
  background: $authentication-button-background;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px $box-shadow-color;
  box-shadow: 4px 8px 19px -3px $box-shadow-color;
  transition: all 250ms;
  overflow: hidden;
}

.login-form > button:disabled,
.register-form > button:disabled {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: $button-color;
  z-index: 1;
  background: $authentication-button-background;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
}

.login-form > button::before,
.register-form > button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: $button-color;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px $box-shadow-color;
  box-shadow: 4px 8px 19px -3px $box-shadow-color;
  transition: all 250ms;
}

.login-form > button:enabled:hover,
.register-form > button:hover:enabled {
  color: $authentication-button-background;
}

.login-form > button:hover:enabled::before,
.register-form > button:hover:enabled::before {
  width: 100%;
}

.login-card span,
.register-card span {
  position: absolute;
  top: 45.5%;
  right: 3rem;
  cursor: pointer;
  padding: 5px;
  font-size: 17px;
  background-color: $black;
  color: $white;
  outline: none;
  border: none;
  font-weight: 400;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.login-card,
.register-card {
  position: relative;
}

.register-card span {
  top: 68.5%;
}

#logout a {
  text-decoration: none;
  color: $black;
}

#logout {
  margin-right: 30px;
  padding: 6px 22px 6px 22px;
  border-radius: 13px;
  color: $black;
}

.register-form #submitBtn:disabled,
.register-form #submitBtn[disabled] {
  background-color: $disabled-button-bg;
  color: grey;
  cursor: not-allowed;
}

.login-form #submitBtn:disabled,
.login-form #submitBtn[disabled] {
  background-color: $disabled-button-bg;
  color: grey;
  cursor: not-allowed;
}

.or {
  margin-bottom: 0;
}
